<div>
  <h2>Reservation</h2>
  <table class="outlined-table" style="border: 2px solid rgb(1, 175, 233)">
    <thead>
      <tr>
        <th style="border: 1px solid rgb(1, 175, 233)">Group ID</th>
        <th style="border: 1px solid rgb(1, 175, 233)">CheckIn Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the dataArray and create a row for each object -->
      <ng-container *ngFor="let data of ambassGroups">
        <!-- Use ngIf to conditionally display the entire row based on the status -->
        <tr *ngIf="!data.status">
          <td style="border: 1px solid rgb(1, 175, 233)">
            {{ data.group_id }}
          </td>
          <td style="border: 1px solid rgb(1, 175, 233)">
            <!-- Use ngIf to conditionally display either Check-In or Check-Out button -->
            <button
              *ngIf="isCheckInMode"
              (click)="handleCheckIn(data.group_id)"
              class="light-green-button">
              Check-In
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div>
  <h2>Checkin Group</h2>
  <table class="outlined-table" style="border: 2px solid rgb(1, 175, 233)">
    <thead>
      <tr>
        <th style="border: 1px solid rgb(1, 175, 233)">Group ID</th>
        <th style="border: 1px solid rgb(1, 175, 233)">Actions</th>
        <!-- New column for buttons -->
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the dataArray and create a row for each object -->
      <ng-container *ngFor="let data of ambassGroups">
        <!-- Use ngIf to conditionally display the row based on the status -->
        <tr *ngIf="data.status">
          <td style="border: 1px solid rgb(1, 175, 233)">
            {{ data.group_id }}
          </td>
          <!-- Second column for Check-Out button -->
          <td style="border: 1px solid rgb(1, 175, 233)">
            <button
              (click)="handleCheckOut(data.group_id)"
              class="light-red-button">
              Check-Out
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
