.widget-container {
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  position: relative; /* Added position relative for absolute positioning */

}

.header {
  position: relative; /* Added position relative for absolute positioning */
}

.arrow {
  font-size: 15px; /* Adjusted the font size for the arrow */
  position: absolute; /* Positioned the arrow absolutely */
  right: -20px; /* Positioned the arrow to the right */
  top: 50%; /* Positioned the arrow vertically centered */
  transform: translateY(-50%); /* Adjusted for vertical centering */
  cursor: pointer;
  color:#5e6468;
}


.clickable-box {
  width: 220px;
  height: 55px;
  background-color: #5e6468;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  font-weight: normal;
  font-size: 14px; /* Adjusted the font size for the clickable box */
}

.clickable-box:hover {
  background-color: #5e6468;
  width: 225px;
  height: 60px;
  border-radius: 20px;
}
