<h2>Group Reservation</h2>
<h4>
  The XL’s working spaces are designed to support CS majors’ coursework,
  organizations, and projects.
</h4>
<app-newRes></app-newRes>
<app-curRes></app-curRes>
<body>
  <script>
    // We need this code to reroute to a create group reservation page. Check Figma for exact style.
    // MAKE IT A WIDGET
    // https://github.com/unc-csxl/csxl.unc.edu/blob/main/docs/widgets.md
    //document.getElementById('myButton').addEventListener('click', function () {
    //console.log('Button clicked!');
    //});
  </script>
</body>
