<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Form</title>
    <link rel="stylesheet" href="make-reservation.component.css" />
  </head>
  <body>
    <div class="card">
      <h2>Reservation Form</h2>

      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="pid">PID:</label>
          <input type="text" id="pid" formControlName="pid" required />
          <button
            type="button"
            value="Add User"
            class="button tar-heel-blue"
            (click)="onAddUser()">
            Add User
          </button>
        </div>

        <div>
          <label for="what">What:</label>
          <select id="what" formControlName="what" required>
            <option value="Rectangle Table">Rectangle Table</option>
            <option value="Square Table">Square Table</option>
          </select>
        </div>
        <!-- make-reservation.component.html -->
        <div>
          <label for="when"><span class="bold-label">When:</span></label>
          <span>{{ formattedTimeRange }}</span>
        </div>
        <div>
          <div>
            <button class="button tar-heel-blue" type="submit">Submit</button>
            <!-- Add the tar-heel-blue class here -->
          </div>
        </div>
      </form>

      <!-- Display added users -->
      <div>
        <h3>Added Users:</h3>
        <ul>
          <li *ngFor="let user of users">{{ user }}</li>
        </ul>
      </div>
    </div>
  </body>
</html>
