/* Resetting default browser styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

/* Full-screen card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f4f4; /* Change to the background color of your choice */
}

/* Form styling */
form {
  width: 100%;
  max-width: 800px; /* You can adjust max-width as per your design requirement */
}

/* Form field styling */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold; /* Make labels bold */
}

input[type="text"] {
  width: calc(100% - 22px); /* Adjusting for padding */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styling */
.button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #4CAF50; /* Change to your button's color */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
}

/* Tar Heel Blue styling for the Submit button */
.button.tar-heel-blue {
  background-color: #4b9cd3; /* UNC Chapel Hill Tar Heel Blue */
  color: white; /* Text color to ensure readability */
  /* You can add more styles as needed */
}

.button:hover {
  background-color: #4a4ae1; /* Darker shade of button color on hover */
}

/* Added users list styling */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 4px;
}

/* Group ID display styling */
.groupId {
  padding: 10px;
  background-color: #ddd; /* Change to match your color scheme */
  margin-top: 20px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

/* Apply the same styles to select elements */
select {
  width: calc(100% - 22px); /* Adjusting for padding */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* You might need to add some padding on the right to ensure the text doesn't overlap with the background image */
select {
  padding-right: 30px; /* Adjust as needed */
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .card {
    padding: 40px;
  }

  .button {
    max-width: 200px; /* Fixed width for larger screens */
  }
}
.bold-label {
  font-weight: bold;
}
/* Add margin to space between label and time */
label {
  display: inline-block;
  margin-right: 5px; /* Adjust as needed */
}
