body, html {
    margin: 0;
    padding: 0;
  }
  
  .widget-container {
    max-width: 100%;
    height: 80px; /* Adjust height as needed */
    background-color: #fff; /* White background */
    display: flex;
    align-items: flex-start; /* Align items to the top (left) */
    justify-content: flex-start; /* Align items to the left */
    padding: 10px 20px; /* Adjust padding on top (10px) and sides (20px) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); /* Optional: Add a subtle box shadow */
    border: 1px solid #e1e0e0; /* Add a 1px solid gray outline */
  }
  
  .clickable-box {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    cursor: pointer;
  }
  
  .title {
    font-size: 19px; /* Adjust font size */
    font-weight: 500; /* Make it bold */
    margin-bottom: 5px; /* Adjust spacing between title and caption */
    text-align: left; /* Align text to the left */
  }
  
  .caption {
    font-size: 15px; /* Adjust font size */
    color: #000; /* Adjust color */
    text-align: left; /* Align text to the left */
  }
  